# GearX

# POSTGRES
POSTGRES_URL=
POSTGRES_USERNAME=
POSTGRES_PASSWORD=

# Redis
REDIS_USER=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# JWT
JWT_SECRET=
JWT_ISSUER=
JWT_ACCESS_EXP_MINUTES=

# Gmail SMTP (App Password)
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=

MAIL_FROM_EMAIL=
MAIL_FROM_NAME=

# App
APP_NAME=
APP_BASE_URL=
OTP_TTL_SECONDS=
OTP_RESEND_WINDOW_SECONDS=
OTP_MAX_ATTEMPTS=